<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">
	<display-name>ti8go</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>EmpServlet</servlet-name>
		<servlet-class>com.emp.controller.EmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpServlet</servlet-name>
		<url-pattern>/emp/emp.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlaceServlet</servlet-name>
		<servlet-class>com.place.controller.PlaceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceServlet</servlet-name>
		<url-pattern>/place/place.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBGifReader4</servlet-name>
		<servlet-class>com.place.controller.DBGifReader4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader4</servlet-name>
		<url-pattern>/place/DBGifReader4.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadTest_Servlet3</servlet-name>
		<servlet-class>com.place.controller.UploadTest_Servlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadTest_Servlet3</servlet-name>
		<url-pattern>/place/uploadServlet3.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Place_collectServlet</servlet-name>
		<servlet-class>com.place_collect.controller.Place_collectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Place_collectServlet</servlet-name>
		<url-pattern>/place_collect/place_collect.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Product_collectServlet</servlet-name>
		<servlet-class>com.product_collect.controller.Product_collectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Product_collectServlet</servlet-name>
		<url-pattern>/product_collect/product_collect.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Trip_collectServlet</servlet-name>
		<servlet-class>com.trip_collect.controller.Trip_collectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trip_collectServlet</servlet-name>
		<url-pattern>/trip_collect/trip_collect.do</url-pattern>
	</servlet-mapping>
	
</web-app>