<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>ti8go</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/David</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/emp/emp.do</url-pattern>
  </servlet-mapping>
  

      <servlet>
    <servlet-name>SaleServlet</servlet-name>
    <servlet-class>com.sale.controller.SaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleServlet</servlet-name>
    <url-pattern>/sale/sale.do</url-pattern>
  </servlet-mapping>
  
  
       <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product/prod.do</url-pattern>
  </servlet-mapping>
  
   		<servlet>
		<servlet-name>DBGifReader4_1</servlet-name>
		<servlet-class>com.sale.controller.DBGifReader4_1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader4_1</servlet-name>
		<url-pattern>/DBGifReader4_1</url-pattern>
	</servlet-mapping>


  <servlet>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>com.card.controller.CardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/card/card.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.users.controller.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users/users.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminsServlet</servlet-name>
    <servlet-class>com.admins.controller.AdminsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminsServlet</servlet-name>
    <url-pattern>/admins/admins.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>UsersGetPic</servlet-name>
		<servlet-class>com.users.controller.UsersGetPic</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>UsersGetPic</servlet-name>
		<url-pattern>/UsersGetPic</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PlaceServlet</servlet-name>
		<servlet-class>com.place.controller.PlaceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceServlet</servlet-name>
		<url-pattern>/place/place.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBGifReader4</servlet-name>
		<servlet-class>com.place.controller.DBGifReader4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader4</servlet-name>
		<url-pattern>/place/DBGifReader4.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadTest_Servlet3</servlet-name>
		<servlet-class>com.place.controller.UploadTest_Servlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadTest_Servlet3</servlet-name>
		<url-pattern>/place/uploadServlet3.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Place_collectServlet</servlet-name>
		<servlet-class>com.place_collect.controller.Place_collectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Place_collectServlet</servlet-name>
		<url-pattern>/place_collect/place_collect.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Place_collectAjaxHandler</servlet-name>
		<servlet-class>com.place_collect.controller.Place_collectAjaxHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Place_collectAjaxHandler</servlet-name>
		<url-pattern>/place_collect/Place_collectAjaxHandler.do</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>Product_collectServlet</servlet-name>
		<servlet-class>com.product_collect.controller.Product_collectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Product_collectServlet</servlet-name>
		<url-pattern>/product_collect/product_collect.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Trip_collectServlet</servlet-name>
		<servlet-class>com.trip_collect.controller.Trip_collectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trip_collectServlet</servlet-name>
		<url-pattern>/trip_collect/trip_collect.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Note_collectServlet</servlet-name>
		<servlet-class>com.note_collect.controller.Note_collectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Note_collectServlet</servlet-name>
		<url-pattern>/note_collect/note_collect.do</url-pattern>
	</servlet-mapping>
</web-app>